@media (max-width: 1024px) {
   

}

@media (max-width: 980px) {
  
}

@media (max-width: 640px) {
    /*.stricky + section, .stricky.header-v1 + section {margin-top: 207px;}*/
    .header .header-top .pull-left,
    .header .header-top .pull-right {float: none !important;}
    .header .header-top {text-align: center;}
    /*.stricky-fixed.header .header-top {margin-top: -93px;}*/
    .inner-banner {margin-top: 0px;}
    .tp-caption {display: none !important;}
    .numbering-style{ margin-right: -10px;}
}

@media (max-width: 600px) {
    .header .header-top .contact-info li {display: block;margin-bottom: 10px;}
    .header .header-top .contact-info li span {margin: 0;}

   
}
@media (max-width: 420px) {
   
    .stricky.header-v2 + .inner-banner {margin-top: 0px;}
  
}
@media (max-width: 384px) {
  
    .stricky.header-v2 + .inner-banner {margin-top: 0px;}
    .menuzord-responsive .menuzord-brand {width: 65%;}
    .menuzord-responsive .menuzord-brand img {width: 100%;}
    /*.stricky + section, .stricky.header-v1 + section, .stricky.header-v4 + section {margin-top: 238px;}*/

    .stricky.header-v5 + section {margin-top: 100px;}
   

    .header .search-box input { line-height: 58px;font-size: 16px;}

}



/* 
* new fixes 24 8 16
*/

@media(max-width: 1024px) {
    .accrodion .accrodion-title h4:before {
        top: 50%;
        margin-top: -15.5px;
    }
    .accrodion .accrodion-title h4 span {float: none;width: 100%;line-height: 140%;}
}
@media (max-width: 768px) {
    }
@media(max-width: 640px){
   }

@media(max-width: 480px) {
    .numbering-style{ margin-right: -8px;}
    }
@media(max-width: 384px) {
   }


/* new update 29-8-16 11:00am; */
@media(max-width: 737px) {
    }
/* new update 29-8-16 11:00am; */
@media(max-width: 650px) {
   }