@media (max-width: 1024px) {
    .header .header-top {position: relative;}
    .header .header-top .container,
    .header .header-top .top-info,
    .header .header-top .container .col-md-12.pull-right {position: static;}
    .header .header-top .top-info:before {transform: skew(0);border-radius: 0;width: 100%;top:0;right:0;left:0;bottom:0;}
    .header .menuzord-menu > li > a .ftc-icon-shopping-bag2,
    .header .menuzord-menu > li.search-button > a .fa {display: none;}
    .header .menuzord-menu > li > a.flip-flop-btn span:not(.indicator) {transform: none;}
    .header .menuzord-menu > li > a.flip-flop-btn span:not(.indicator)::before {display: none;}
    .menuzord-responsive .menuzord-menu li .indicator {z-index: 99;transform:none;}
    .menuzord-responsive .menuzord-menu > li > a {color: #fff !important;text-transform: uppercase;}
    .header .menuzord .megamenu .offer-home {display: none;}
    .header .menuzord .megamenu {padding-left: 0px;}
    .header .search-box {position: static;}
    .header.stricky {max-height: 100vh;overflow: auto;width: 100%;_float: left;}

    .menuzord-responsive .menuzord-menu.scrollable {background: #A6C311; }
    .header .menuzord .megamenu {padding-bottom: 15px;}
    .header .menuzord .megamenu h3 {margin-left: 40px;}
    .header .menuzord .megamenu .col4+.col4 {padding-top: 20px;}
    .header .menuzord .megamenu .col4:last-child {padding-top: 0px;margin-top: 0 !important;min-height: 0 !important;}
    .header .menuzord .megamenu ul li {margin-left: 0;}
    .header .menuzord .megamenu ul li > a {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; clear: both; color: #888; display: inline-block; float: none; outline: 0 none; padding: 10px 25px 10px 40px; position: relative; text-decoration: none; transition: padding 0.2s linear 0s; width: 100%; font-size: 12px; border-bottom: 1px solid #f0f0f0; }
    .header .menuzord .megamenu ul li > a > span {font-size: inherit;color: inherit;display: none;}
    .header .menuzord .megamenu ul li:last-child a {border-bottom: 0;}
    .header .menuzord .megamenu ul li:hover > a {background-color: transparent;color: inherit;padding-left: 50px;}
    .header .menuzord .megamenu ul.header-cart-box {padding-left: 15px;}
    .menuzord .showhide {background: #9bb60e none repeat scroll 0 0; height: 45px; padding: 11px 0; width: 55px; margin-top: 14px;}
    .menuzord .showhide em{background: #fff;margin: 3px 17px 0;}
   
    .header.stricky-fixed .navigation {padding: 0px 0;}

    /*.stricky + section {margin-top: 170px;}
    .stricky.header-v1 + section, .stricky.header-v4 + section, .stricky.home-3 + section {margin-top: 0;}*/

    .slider-bottom-left a span {font-size: 16px;}
    .slider-bottom-right a {bottom: 22px; line-height: 30px; padding: 0 15px; font-size: 11px; }
    .slider-bottom-right {top: -133px;}

    .fitness-care-gym-area .single-item .left-box {display: none;}

    .fitness-care-gym-area .single-item .icon-holder {float: left; left: 0; position: relative; top: 5px; width: 110px; height: 110px;}
    .fitness-care-gym-area .single-item .right-box {border: 0 none; float: right; height: auto; left: 0px; padding: 0; position: relative; width: 70%; }
    .fitness-care-gym-area .single-item .icon-holder::before {right: 175px; top: -155px;}
    .fitness-care-gym-area .single-item .icon-holder i {font-size: 45px;line-height: 110px;}
    .fitness-care-gym-area .single-item .right-box h3 {font-size: 21px;margin-bottom: 5px;}
    .fitness-care-gym-area .single-item .right-box p {font-size: 13px;}
    .fitness-care-gym-area .single-item .icon-holder {top: 13px;}

    .support-content .single-item .content h3 {font-size: 18px; }
    .support-content .single-item .content p {font-size: 12px;}

    .workout-schedules-area .single-item {margin-bottom: 30px;}
    .workout-schedules-area {padding-bottom: 50px;}
    .experienced-trainer-area {padding-bottom: 0px;}
    .experienced-trainer-area .single-item {margin-bottom: 30px;}
    .experienced-trainer-area .single-item .img-holder > img {width: 100%; }
    .experienced-trainer-area .single-item .img-holder .overlay-content {top: 100%;margin-top: -140px;}

    .daily-training-workout-area .img-holder img {max-width: none;float: right;width: auto;}
    .daily-training-workout-area .content h1 {font-size: 55px;}

    .subscribe-area:before {background: #131313 none repeat scroll 0 0; bottom: 0; content: ""; display: block; left: 0; opacity: 0.95; position: absolute; right: 0; top: 0;}
    .subscribe-area {background: url(../img/resources/texture/pattern-1.png) repeat scroll 0 0; position: relative;padding-top: 50px;}
    .subscribe-area .subscribe-form h1.title {font-size: 25px;}
    .subscribe-area .subscribe-form form.subscribe input.name,
    .subscribe-area .subscribe-form form.subscribe input.email {background: rgba(0, 0, 0, 0) url("../img/subscribe/email-bg.png") repeat scroll 0 0;-webkit-background-size: 100%; background-size: 100% 100%;width: 47.16%;}
    .subscribe-area .subscribe-form h1 {  font-size: 22px; margin: 48px 0 0; }

    .footer-area {padding-bottom: 14px;}
    .single-footer-widget {margin-bottom: 30px;}

    .footer-bottom-area {position: relative;overflow: hidden;}
    .footer-bottom-area .footer-bottom {position: static;}
    .footer-bottom-area .footer-bottom::before,
    .footer-bottom-area .footer-bottom::after {transform: none;width: 100%;float: left;}

    .fitness-services-boxed .single-fitness-service .single-fitness-service-details a {font-size: 15px; }

    .fitness-video-area .video-box {padding-top: 25%;}
    .fitness-video-area .video-box .inner-box .main-box {position: relative;}
    .fitness-video-area .video-box .inner-box ul.img-list li,
    .fitness-video-area .video-box .inner-box ul.img-list li:last-child {margin: 0;}
    .fitness-video-area .video-box .inner-box ul.img-list li img {height: 100%;}
    .fitness-video-area .video-box .inner-box ul.img-list {position: absolute; top: 100%; left: 0; margin: 0; margin-top: 30px; margin-left: -15px;width: 100%;text-align: center;}
    .fitness-video-area .video-box .inner-box ul.img-list li img {height: 86px; width: 100%; }
    .fitness-video-area .video-box .inner-box ul.navigation {left: 100%; margin: 0; padding: 0; top: 100%; transform: rotate(90deg); transform-origin: 0 50% 0; width: 100%;margin-top: 23px;}
    .fitness-video-area .video-box .inner-box .main-box .img-box {margin: 0;}
    .fitness-video-area .video-box .inner-box ul.navigation li {padding: 0 5px;}
    .fitness-video-area .video-box .inner-box ul.navigation li a i {line-height: 31px;}
    .fitness-video-area .video-box {padding-right: 0;}
    .fitness-video-area .right-text h3 {font-size: 27px; line-height: 35px;}

    .perfect-plan-right,
    .perfect-plan-left {padding: 80px 0;}
    .perfect-plan-left  {margin-top: 20%;}

    .single-project-item .text-box h3 {font-size: 17px;}

    .single-popular-class h3 {font-size: 15px;}

    .bmi-tab-box .bmi-tab-content .content-box {padding: 18px 20px; }

    .suppliments-partners-area .single-item .img-holder .overlay-content p {line-height: 18px; font-size: 12px; padding-top: 10px; }

    .header.home-3 .container {margin-top: 0;margin-bottom: 0;top:0;}
    .header.home-3.stricky {float: none;}
    .logo-area-h3,
    .header.home-3 .has-angle::before,
    .header.home-3 .has-angle::after {display: none;}

    .fitness-team-style-two .owl-theme .owl-nav .owl-next {right:0;}
    .fitness-team-style-two .owl-theme .owl-nav .owl-prev {left:0;}
    .single-fitness-team-style-two img {margin-left: auto;margin-right: auto;}

    .blog-post-area {padding-bottom: 50px;}
    .single-blog-post {margin-bottom: 30px;}
    .single-blog-post .content h3 {font-size: 20px;}

    .perfect-plan-area.home-3 {background: rgba(0, 0, 0, 0) url("../img/resources/texture/pattern-1.png") repeat scroll 0 0; position: relative; }
    .perfect-plan-area.home-3::before {background: #f7f7f7 none repeat scroll 0 0; bottom: 0; content: ""; display: block; left: 0; opacity: 0.95; position: absolute; right: 0; top: 0; }
    .support-content .single-item .icon-holder i {width: 50px;height: 50px;padding: 0;line-height: 50px;text-align: center;font-size: 16px;}

    ul.gallery-filter li span {font-size: 13px;font-weight: 500;}
    .schedule-table,
    .cart-table,
    .pricing-table {width: 1170px;max-width: none;}

    .single-product-item .title h3 {font-size: 20px;}

    .header.header-v5 .menuzord-brand {line-height: 0;}
    .stricky.header-v5 + section {margin-top: 114px;}

    .pgrs-bar .counter-box {margin-top: -38px;}

    .sidebar-page-content {padding-right: 0;}
    .sidebar-page-content .inner-page-wrapper {padding-right: 0;border: none;}
    .pull-right .sidebar-page-content {padding-left: 0;}
    .pull-right .sidebar-page-content .inner-page-wrapper {padding-left: 0;}

    .health-care-package-area.package-v2 .single-item .content .top .content-heading {width: 73%;}
    .health-care-package-area.package-v2 .single-item .content .top .content-heading h3 {font-size: 16px; margin: 12px 0 0; }
    .health-care-package-area.package-v2 .single-item .content .top .icon-holder {height: 67px; width: 67px; line-height: 67px;}
    .health-care-package-area.package-v2 .single-item .content .top .icon-holder i {line-height: inherit;}
    .health-care-package-area.package-v2 .single-item .content .top .icon-holder {margin-top: 21px;}
    .health-care-package-area.package-v2 .single-item .content .package-list ul li {font-size: 13px;}
    .health-care-package-area.package-v2 .single-item .button a {height: 46px; padding: 0px 0; width: 110px; font-size: 11px; line-height: 46px;}

    .experienced-trainer-area .related-product-carousel .single-item .img-holder .overlay-content {top: 100%;margin-top: -300px;}

    .workout-schedules-area.workout-v2 .single-item .content .schedules-list ul li {font-size: 14px;line-height: 25px;margin-bottom: 9px;}
    .workout-schedules-area.workout-v2 .single-item .content .schedules-list ul li i {display: none;}	
    .workout-schedules-area.workout-v2 .single-item .content ul li {margin-right: 7px;}
    .workout-schedules-area.workout-v2 .single-item .content h3 {font-size: 19px;}
    .workout-schedules-area.workout-v2 .single-item .content ul li i {font-size: 14px;}
    .single-blog-post .content .meta li a {font-size: 14px;margin-top: 10px;}

    .subscribe-area::before {background-image: none !important;}

}

@media (max-width: 980px) {
    .header .header-top .contact-info li:first-child span {margin-left: 0;}
    .menuzord-responsive .menuzord-brand {margin-left: 0;margin-right: 0;}
    .slider-bottom-left a span {font-size: 13px; margin-top: -5px; margin-right: -11px; }
    .slider-bottom-right a {right: 140px;bottom: 12px;}
    .fitness-care-gym-area .single-item .right-box {width: 80%;margin-top: 15px;}
    .support-area .img-holder {top:40px;text-align: center;}
    .health-care-package-area .single-item .content .top .content-heading h3 {font-size: 16px;}

    .health-care-package-area .single-item .content .top .icon-holder {width: 54px;height: 54px;}
    .health-care-package-area .single-item .content .top .icon-holder i {line-height: 54px;}
    .health-care-package-area .single-item .content .top .content-heading {width: 82%;}
    .health-care-package-area .single-item .content .top .content-heading ul li {font-size: 12px;}

    .health-care-package-area .single-item .button a {height: 46px; padding: 0px 0; width: 130px; font-size: 13px; line-height: 46px;}
    .testimonial-carousel-wrapper {margin-bottom: 40px;}
    .subscribe-area .subscribe-form {padding: 20px 0px 80px;}

    .fitness-services-boxed .container {border: 1px solid #f7f7f7;padding: 0;}
    .fitness-services-boxed .container .row {margin: 0;}
    .fitness-services-boxed .single-fitness-service {border: none !important;border-bottom: 1px solid #f7f7f7 !important;}
    .fitness-services-boxed .single-fitness-service .single-fitness-service-details .img-box img {width: 100%;}

    .fitness-service-round-icon {padding-bottom: 50px;}
    .single-fitness-service-round-icon {margin-bottom: 30px;}

    .join-now-area .join-now h1 br {display: none;}

    .fitness-video-area .video-box {padding-top: 0px;padding-bottom: 170px;}
    .fitness-video-area .video-box .inner-box {display: inline-block;}

    .perfect-plan-left .img-holder img {max-width: none;float: right;}

    .bmi-tab-box {margin-bottom: 50px;}
    .bmi-tab-box .bmi-tab-content .content-box {padding-right: 20%;}
    .support-area {padding-bottom: 70px;}

    .single-shop-cta {margin-bottom: 30px;}

    .pgrs-bar {height: 252px;}
    .pgrs-bar-title {margin-bottom: 25px;}

    .testimonial-carousel-style-three .single-testimonial-carousel .testimonial-text-box p {font-size: 18px;line-height: 33px;}

    .accrodion .accrodion-content .img-box {margin-bottom: 30px;}
    .accrodion .accrodion-content .text-box {padding-left: 0px;}

    .contact-info-box {margin-bottom: 50px;}

    .project-content.col-5-wrapper .col-5 {width: 25%;}

    .inner-banner h2 {line-height: 55px;}

    .remember-box {margin-bottom: 50px;}
}

@media (max-width: 640px) {
    /*.stricky + section, .stricky.header-v1 + section {margin-top: 207px;}*/
    .header .header-top .pull-left,
    .header .header-top .pull-right {float: none !important;}
    .header .header-top {text-align: center;}
    /*.stricky-fixed.header .header-top {margin-top: -93px;}*/
    .inner-banner {margin-top: 0px;}
    .tp-caption {display: none !important;}

    .slider-bottom-area .row {margin: 0;}
    .slider-bottom-area [class^='col-'],
    .slider-bottom-area [class*='col-'] {padding: 0;}
    .slider-bottom-left a span {font-size: 24px; margin-right: 8px; margin-top: 0px; }
    .slider-bottom-right a {bottom: 26px; font-size: 15px; line-height: 39px; padding: 0 25px; right: 230px;}

    .fitness-care-gym-area .single-item .right-box {width: 77%;}

    .health-care-package-area .single-item .content .top .icon-holder {display: none;}
    .health-care-package-area .single-item .content .top .content-heading {padding: 0;width: 100%;}

    .health-care-package-area .single-item .button a {font-size: 11px; width: 113px; }
    .slider-bottom-left {top:0;margin-top: 0;}
    .slider-bottom-right {top:-13px;margin-top: 0;}
    .fitness-care-gym-area {top: 0;margin-top: 50px;}

    .support-content .single-item .icon-holder i {width: 70px;height: 70px;font-size: 22px;line-height: 70px;}

    .walking-area .walking h1 {font-size: 32px;}
    .walking-area .walking br {display: none;}
    .walking-area {padding: 80px 0 130px;}
    .walking-area .carousel-indicators {bottom: -50px;}

    .daily-training-workout-area .content {padding-bottom: 80px;}

    .subscribe-area .img-holder img {margin-left: auto;margin-right: auto;display: block;}

    .fitness-services-boxed .single-fitness-service .single-fitness-service-details {position: static;transform: none;opacity: 1;visibility: visible;}

    .mixit-gallery .mix {width: 100%;float: left;}

    .suppliments-partners-area .col-xs-12 {width: 50%;}

    .fitness-services-boxed .col-xs-12 {width: 50%;}

    .top-bar-area.home-3 [class*="pull-"],
    .top-bar-area.home-3 [class^="pull-"] {width: 100%;display: block;text-align: center !important;}
    .top-bar-area .contact-info {text-align: center;}
    .top-bar-area .contact-info li {float: none;display: inline-block;padding-right: 0;}
    .top-bar-area.home-3 .social {text-align: center;}

    .pgrs-bar {height: 425px;}

    .health-care-package-area.package-v2 .col-md-6,
    .health-care-package-area.package-v1 .col-md-6 {width: 50%;float: left;}
    .health-care-package-area.package-v2 .single-item .content .top .content-heading {width: 100%;padding: 0;}

    .workout-schedules-area.workout-v1 .col-md-6,
    .workout-schedules-area.workout-v2 .col-md-6 {width: 50%;float: left;}
    .workout-schedules-area.workout-v1 .single-item .content .schedules-list ul li i,
    .workout-schedules-area.workout-v2 .single-item .content .schedules-list ul li i {display: none;}

    .product-content-box .img-box, .product-content-box .content-box {display: block;width: 100%;float: left;padding: 0;margin-bottom: 30px;}
    .project-content.col-5-wrapper .col-5 {width: 50%;}
}

@media (max-width: 600px) {
    .header .header-top .contact-info li {display: block;margin-bottom: 10px;}
    .header .header-top .contact-info li span {margin: 0;}

    /*.stricky + section, .stricky.header-v1 + section, .stricky.header-v4 + section {margin-top: 252px;}
    .stricky.header-v2 + .inner-banner {margin-top: 0px;}
    .stricky.header-v4 {background: #000;}
    .stricky-fixed.header .header-top {margin-top: -138px;}*/

    .slider-bottom-left a span {font-size: 15px;}
    .slider-bottom-right a {bottom: 13px;right: 26%;}

    .fitness-care-gym-area .single-item .right-box {width: 68%;}
    .fitness-care-gym-area .single-item .icon-holder {top: 26px;}
    .health-care-package-area .single-item .button a {height: 50px !important; padding: 0px 0; width: 150px !important; font-size: 14px !important;line-height: 50px !important;}
    .section-title h1 {margin: 0;font-size: 24px;}

    .footer-bottom .pull-left, 
    .footer-bottom .pull-right {width: 100%;text-align: center;}

    .health-care-package-area.package-v2 .col-md-6,
    .health-care-package-area.package-v1 .col-md-6,
    .workout-schedules-area.workout-v1 .col-md-6,
    .workout-schedules-area.workout-v2 .col-md-6 {width: 100%;float: left;}

    .suppliments-partners-area .col-xs-12 {width: 100%;}

    .fitness-services-boxed .col-xs-12 {width: 100%;}

    .bmi-tab-box .bmi-tab-content .content-box {padding-right: 0;}
    .project-content.col-5-wrapper .col-5 {width: 50%;}
    .footer-bottom-area .footer-bottom .social-links {padding: 0;}
    .pgrs-bar {height: 330px; }
}
@media (max-width: 420px) {
    .inner-banner {
        padding: 67px 0;
    }

    .inner-banner h2 {
        font-size: 25px;
        line-height: 28px;
        font-weight: bold;
        margin: 0;
        color: #ffffff;
        text-transform: uppercase;
    }

    .inner-banner p {
        margin: 0px;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 30px;
        color: #ffffff;
        margin-top: 17px;
    }
    .stricky.header-v2 + .inner-banner {margin-top: 0px;}
    .project-content.col-5-wrapper .col-5 {width: 100%;}
    .health-care-pack-carousel .owl-nav {position: static;}
    .daily-training-workout-area .img-holder img {max-width: 100%;}
    .single-testimonial-carousel .testimonial-text-box {padding-left: 0;}
    .accrodion .accrodion-content {padding-left: 0;}	
    .subscribe-area .subscribe-form form.subscribe input.name, .subscribe-area .subscribe-form form.subscribe input.email {width: 100%;margin: 0;}
    .subscribe-area .subscribe-form form.subscribe input.name + input {margin-top: 20px;} 
    .subscribe-area .subscribe-form form.subscribe button.thm-btn {margin-top: 20px;}
    .section-title h1 {background-image: none;}
    .perfect-plan-left .img-holder img {float: none;width: 100%;}
    .perfect-plan-right, .perfect-plan-left {padding-top: 0;}
    .perfect-plan-right, .perfect-plan-left {padding-bottom: 30px;}
    ul.gallery-filter li span {margin-bottom: 20px;}
    .project-content ul.gallery-filter {margin-bottom: 40px;}
    .daily-training-workout-area .img-holder {top:0;}
    .header .search-box { height: 58px;}

    .header .search-box input { line-height: 58px;font-size: 16px;}
}
@media (max-width: 384px) {
    .inner-banner {
           padding: 50px 15px;
    }

    .inner-banner h2 {
        font-size: 25px;
        line-height: 28px;
        font-weight: bold;
        margin: 0;
        color: #ffffff;
        text-transform: uppercase;
    }

    .inner-banner p {
        margin: 0px;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 30px;
        color: #ffffff;
        margin-top: 17px;
    }
    .stricky.header-v2 + .inner-banner {margin-top: 0px;}
    .menuzord-responsive .menuzord-brand img {width: 100%;}
    /*.stricky + section, .stricky.header-v1 + section, .stricky.header-v4 + section {margin-top: 238px;}*/

    .stricky.header-v5 + section {margin-top: 100px;}
    .menuzord .showhide {margin-top: 7px;}
    .slider-bottom-left a span {font-size: 12px; margin-right: -17px; margin-top: -5px; }
    .slider-bottom-right a {font-size: 9px; line-height: 29px; padding: 0 19px; bottom: 13px; right: 35%;}
    .fitness-care-gym-area .single-item .right-box {width: 100%;margin-top: 10px;}
    .fitness-care-gym-area .single-item .icon-holder {top:0;}

    .health-care-package-area .single-item .button a {height: 44px !important; padding: 0px 0; width: 110px !important; font-size: 13px !important;line-height: 44px !important;}
    .walking-area .walking .thm-btn {padding: 0 20px;font-size: 12px;line-height: 40px;}
    .walking-area .walking .thm-btn.borderd {line-height: 36px;}
    .daily-training-workout-area .content .google-play-app-store ul li {margin-right: 15px;}
    .join-now-area .join-now .button a {margin: 0 13px; padding: 0 19px; }
    .fitness-video-area .video-box .inner-box ul.img-list {display: none;}
    .fitness-video-area .video-box .inner-box ul.navigation {transform: none;left:50%;right:auto;margin-left: -165px;}

    .rev_slider_wrapper .tparrows {font-size: 11px; height: 30px; line-height: 29px; width: 30px; top: 0; margin-top: -38px; }
    .bmi-tab-box .bmi-tab-title ul li a {padding-left: 29px;padding-right: 29px;}

    .pgrs-bar {height: 240px; }
    .single-testimonial-carousel .qoute-icon-box {display: none;}

    .faq-page .accrodion .accrodion-title h4 {font-size: 15px;}
    .faq-page .accrodion .accrodion-content {padding-left: 0;}

    .support-content .single-item .icon-holder {float: none;margin-bottom: 30px;}
    .support-content .single-item .icon-holder i {margin-left: auto;margin-right: auto;display: block;}
    .support-content .single-item .content {float: none;text-align: center;}
    .daily-training-workout-area .content h1 {font-size: 29px; line-height: 44px; }
    .accrodion .accrodion-title h4 span {float: right;width: 82%;}

    .fitness-care-gym-area .single-item .icon-holder {float: none;margin-left: auto;margin-right: auto;}
    .fitness-care-gym-area .single-item .right-box {text-align: center;}
    .header .search-box { height: 58px;}

    .header .search-box input { line-height: 58px;font-size: 16px;}
    .slider-container {
    margin-top: 203px;
    }
   .single-fitness-service {
     padding-top: 0 !important;
    }
    
    .join-now-area .join-now h1 {
    font-size: 22px;
    line-height: 35px;
}

}



/* 
* new fixes 24 8 16
*/

@media(max-width: 1024px) {
    .accrodion .accrodion-title h4:before {
        top: 50%;
        margin-top: -15.5px;
    }
    .accrodion .accrodion-title h4 span {float: none;width: 100%;line-height: 140%;}
}
@media (max-width: 768px) {
    .workout-schedules-area .single-item .content ul {margin-left: -10px;}
    .workout-schedules-area .single-item .content ul li {margin-left: 10px;}
    .rev_slider_wrapper .feature-list-item .icon-box {display: none !important;}
    .rev_slider_wrapper .feature-list-item .text-box {display: block;}
    .health-care-package-area .single-item .content .package-list ul li,
    .workout-schedules-area .single-item .content .schedules-list ul li,
    .product-tab-box .tab-content #description ul li {line-height: 180%;}
    .health-care-package-area .single-item .content .package-list ul li + li,
    .workout-schedules-area .single-item .content .schedules-list ul li + li,
    .product-tab-box .tab-content #description ul li + li {margin-top: 10px;}
    .daily-training-workout-area .content {padding-bottom: 80px;} /* new update 29-8-16 11:00am; */
    .health-care-package-area .single-item .content .package-list ul li + li, .workout-schedules-area .single-item .content .schedules-list ul li + li, .product-tab-box .tab-content #description ul li + li {margin-top: 0;}
}
@media(max-width: 640px){
    .tp-caption.has-image {display: block !important;}
    .tp-caption.has-image img {max-width: 100%;};
    .slider-container{margin-top: 279px;}
    .img-logo{padding-top: 0}
    .header .navigation {
        padding: 10px 0;
    }
    .showhide{margin-top:20px}
}

@media(max-width: 480px) {
    .fitness-care-gym-area .section-title {padding-bottom: 30px;}
    .subscribe-area .subscribe-form form.subscribe input.name, .subscribe-area .subscribe-form form.subscribe input.email {width: 100%;margin: 0;}
    .subscribe-area .subscribe-form form.subscribe input + input {margin-top: 30px !important;}
    .subscribe-area .subscribe-form h1 {text-align: center;width: 100%;}
    .single-footer-widget ul.recent-news li .content p br {display: none;}
    /* new update 29-8-16 11:00am; */
    .fitness-care-gym-area .single-item .icon-holder {float: none;margin-bottom: 20px;margin-left: auto;margin-right: auto;display: block;}
    .section-title.text-center h1 span {padding: 0;}
    .fitness-care-gym-area .single-item .right-box {width: 100%;float: none;padding-left: 0;margin-top: 45px;text-align: center;}
    .health-care-pack-carousel .owl-nav {position: static;margin-top: 60px;}
    .rev_slider_wrapper{padding-right: 1px; padding-left: 1px}
    .header.stricky{ padding-left: 0; padding-right:0}
   .my-account{text-align: left}
   .header-xs-container{    padding-left: 0; padding-right: 5px;}
   
   .blog-v3 .single-blog-post {
    margin-left: 25px;
        margin-right: 5px;
    padding-right: 9px;

}

}
@media(max-width: 384px) {
    .slider-bottom-right a {right: 16%;}
    .section-title h1 span {padding: 0 !important;line-height: 145%;}
    .health-care-pack-carousel .owl-nav {margin-top: 50px;}
    .bread-cumb ul {margin-bottom: 15px;}
    .single-blog-post .content .meta li a {margin-top: 15px;}
    .blog-v1 .single-blog-post .content h3 {font-size: 27px; line-height: 135%;}
    .fitness-care-gym-area .single-item .right-box h3 {font-size: 21px; margin-bottom: 10px; margin-top: 10px; }
    .fitness-video-area .video-box {padding-bottom: 100px;}
    .fitness-video-area .right-text h3 {margin-bottom: 17px; font-size: 20px; font-weight: 300;}
    .perfect-plan-right .google-play-app-store ul li {padding-left: 0;margin-right: 17px;margin-bottom: 15px;}
    .section-title h1 {
        font-size: 20px;
    }
}


/* new update 29-8-16 11:00am; */
@media(max-width: 737px) {
    .health-care-package-area .single-item .content .package-list ul li, .workout-schedules-area .single-item .content .schedules-list ul li, .product-tab-box .tab-content #description ul li {margin-top: 0 !important;}
}
/* new update 29-8-16 11:00am; */
@media(max-width: 650px) {
    .health-care-package-area .single-item .content .package-list ul li + li , .workout-schedules-area .single-item .content .schedules-list ul li + li, .product-tab-box .tab-content #description ul li + li {margin-top: 10px !important;}
}